apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: db
  name: db
  namespace: 3-tier-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        app: db
    spec:
      volumes:
      - name: db-data 
        persistentVolumeClaim:
          claimName: db-data-pvc
      containers:
      - image: mysql:8
        name: mysql
        envFrom:
        - secretRef:
            name: database-sec-vars
        volumeMounts:
          - mountPath: /var/lib/mysql
            name: db-data
