apiVersion: v1
kind: Service
metadata:
  labels:
    app: proxy
  name: proxy
spec:
  ports:
  - port: 443
    protocol: TCP
    targetPort: 443
  selector:
    app: proxy
  type: NodePort
status:
  loadBalancer: {}
